* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 90%;
	margin: 0 auto;
}

nav {
	border-bottom: 3px solid crimson;
}

.navbar {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar-ul {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar-ul {
	list-style: none;
}

.navbar .navbar-ul li {
	font-style: italic;
	text-transform: uppercase;
}

.navbar .navbar-ul li a.active {
	color: #fff;
}

.navbar .navbar-ul a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	padding: 20px 10px;
	position: relative;
	transition: all 0.3s;
}

.navbar .navbar-ul li a.active::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: crimson;
	transform: skew(-20deg);
	z-index: -1;
	transition: all 0.3s ease;
}


/* --------- main --------- */
.main {
	position: relative;
	width: 100%;
	height: 90vh;
	padding: 50px;
	background: url("./images/bg.jpg") no-repeat fixed center;
	display: flex;
	align-items: center;
	z-index: 1;
}

.main::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.main .body {
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.main .body h1 {
	text-transform: uppercase;
	line-height: 50px;
}

.main .body p {
	line-height: 30px;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.buttons button {
	border: none;
	outline: none;
	border-radius: 10px;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s all;
}

.buttons button:first-child {
	background: #ffffff;
	color: crimson;
}

.buttons button:first-child:hover {
	background: crimson;
	color: #ffffff;
}

.buttons button:last-child {
	background: crimson;
	color: #ffffff;
}

.buttons button:last-child:hover {
	background: #ffffff;
	color: crimson;
}



/* ---------- about ------------*/
.about {
	width: 100%;
	padding: 50px 0;
}

.about .parent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about .parent .left {
	width: 45%;
}

.about .parent .left .head {
	width: 100%;
	margin-bottom: 15px;
}

.about .parent .left .head h1 {
	font-style: italic;
	font-size: 35px;
	color: black;
	width: 100%;
}

.about .parent .left .head h1 span {
	color: crimson;
}

.about .parent .left .content {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.about .parent .left .content p {
	font-size: 20px;
	line-height: 30px;
	color: gray;
}

.about .parent .left .content button {
	border: 1px solid crimson;
	outline: none;
	border-radius: 8px;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s all;
	background: crimson;
	color: #ffffff;
}

.about .parent .left .content button:hover {
	background: #ffffff;
	color: crimson;
}

.about .parent .right {
	width: 45%;
}

.about .parent .right img {
	width: 100%;
	transform: skew(-8deg);
}


/* ---------- service ------------*/
.service {
	width: 100%;
	padding: 50px 0;
	background: grey;
	color: #ffffff;
}

.service .head {
	color: #ffffff;
	text-align: center;
	font-style: italic;
	font-size: 25px;
	margin-bottom: 35px;
}

.service .head span {
	color: red;
}

.service .body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
}

.service .body .content {
	width: 25%;
}

.service .body .content .top {
	display: flex;
	gap: 15px;
	align-items: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.service .body .content .top h1 {
	font-size: 20px;
}

.service .body .content .top i {
	font-size: 20px;
}

.service .body .content .bottom p {
	line-height: 25px;
}

.service .body .btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

.service .body .btn button {
	font-size: 18px;
	text-transform: uppercase;
	padding: 15px 30px;
	background: transparent;
	outline: none;
	color: #ffffff;
	border: 1px solid #ffffff;
	transition: 0.3s;
	cursor: pointer;
}

.service .body .btn button:hover {
	color: red;
	background: #ffffff;
}


/* ---------- shop ------------*/
.shop {
	width: 100%;
	padding: 50px 0;
}

.shop .head {
	text-align: center;
	font-style: italic;
	font-size: 25px;
}

.shop .head span {
	color: red;
}

.shop .tabs {
	display: flex;
	justify-content: center;
	gap: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}

.shop .tabs a {
	text-decoration: none;
	color: black;
}

.shop .tabs a.active {
	color: red;
}

.shop .products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
}

.shop .products .product {
	position: relative;
	width: 23%;
}

.shop .products .product img {
	width: 100%;
	object-fit: cover;
}

.shop .products .product .price {
	position: absolute;
	padding: 5px 15px;
	left: 15%;
	top: 10%;
	transform: translate(-50%, -50%);
	background: red;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.shop .products .product h1 {
	width: 90%;
	margin: 10px auto;
	text-align: center;
	color: grey;
	font-size: 22px;
	font-weight: normal;
}

/* ---------- skills ------------*/
.skills {
	width: 100%;
	margin: 10px auto;
	padding: 60px 20px;
	background: linear-gradient(
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8)
	),
	url("./images/bg2.png") no-repeat center center;
}

.skills .body {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills .body .content {
	width: 25%;
	text-align: center;
}

.skills .body .content .top i {
	color: crimson;
	font-size: 40px;
}

.skills .body .content .top h1 {
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 20px;
}

.skills .body .content .bottom {
	margin-top: 8px;
	color: #ffffff;
	font-size: 20px;
}


/* ---------- news ------------*/
.news {
	width: 100%;
	padding: 50px 0;
}

.news .head {
	color: black;
	text-align: center;
	font-style: italic;
	font-size: 25px;
	margin-bottom: 35px;
}

.news .head span {
	color: red;
}

.news .body {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.news .body .content {
	width: 32%;
	color: #000;
	position: relative;
}

.news .body .content .date {
	position: absolute;
	top: 37%;
	left: 0;
	background: #424242;
	color: crimson;
	padding: 10px 15px;
	text-align: center;
}

.news .body .content img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.news .body .content h1 {
	font-size: 20px;
	margin: 10px 0;
	font-weight: 600;
}

.news .body .content p {
	line-height: 25px;
	color: #7c7c7c;
}

.news .body .content h4 {
	margin: 10px 0;
	font-weight: 700;
}

.news .arrows {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.news .arrows i {
	font-size: 25px;
	color: gray;
}

/* ---------- quotes ------------*/
.quotes {
	background: linear-gradient(
	to right,
	rgba(101, 3, 3, 0.8),
		rgba(0, 0, 0, 0.8)
	),
	url("./images/bg.jpg") no-repeat fixed center;
	position: relative;
}

.quotes .box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quotes .box .left {
	width: 30%;
	z-index: 99;
}

.quotes .box .left img {
	width: 100%;
	border: 3px solid crimson;
}

.quotes .box .right {
	width: 65%;
	display: flex;
	flex-direction: column;
	gap: 70px;
}

.quotes .box .right .top {
	color: #ffffff;
	margin-left: 30px;
}

.quotes .box .right .top h1 {
	text-transform: uppercase;
	font-size: 30px;
}

.quotes .box .right .center {
	color: #ffffff;
	font-size: 20px;
	line-height: 25px;
}

.quotes .box .right .center i {
	font-size: 40px;
	color: #4040ec;
}

.quotes .box .right .bottom {
	color: #ffffff;
	font-size: 25px;
	display: flex;
	gap: 20px;
}

.quotes .box .right .bottom i {
	font-size: 25px;
}

.quotes .square {
	width: 200px;
	height: 200px;
	background: crimson;
	position: absolute;
	transform: translate(-50%, -50%);
}

.quotes .square.square1 {
	top: 12%;
	left: 28%;
	z-index: 9;
}

.quotes .square.square2 {
	top: 86%;
	left: 10%;
	z-index: 9;
}

/* ---------- partners ------------*/
.partners {
	padding: 100px 0;
}

.partners .head {
	color: black;
	text-align: center;
	font-style: italic;
	font-size: 25px;
	margin-bottom: 35px;
}

.partners .head span {
	color: red;
}

.partners .images {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.partners .images img {
	width: 10%;
	object-fit: cover;
}

.borders {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 15px 0;
}

.borders .border1 {
	width: 10px;
	height: 3px;
	background: crimson;
}

.borders .border2 {
	width: 20px;
	height: 3px;
	background: crimson;
}

.borders .border3 {
	width: 40px;
	height: 3px;
	background: black;
}

/* ---------- footer ------------*/
footer .top:first-child {
	background: #7c7c7c;
	padding: 30px 0;
}

footer .content .center {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

footer .content .center .left {
	color: #d9d8d8;
}

footer .content .center .left .logo {
	margin-bottom: 20px;
	font-size: 25px;
}

footer .content .center .left p span {
	color: #ffffff;
	font-weight: bolder;
}

footer .content .center .center-left ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

footer .content .center .center-left ul li:first-child {
	color: #ffffff;
	font-weight: bolder;
	font-size: 25px;
	margin-bottom: 10px;
}

footer .content .center .center-left ul li {
	color: #ccc;
	font-size: 18px;
}

footer .content .center .center-left ul li span {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bolder;
}

footer .content .center .center-right ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

footer .content .center .center-right ul li:first-child {
	color: #ffffff;
	font-weight: bolder;
	font-size: 25px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

footer .content .center .center-right ul li a {
	font-size: 18px;
	color: #cccccc;
	text-decoration: none;
	transition: all 0.4s;
}

footer .content .center .center-right ul li a:hover {
	color: #ffffff;
}

footer .content .center .right ul {
	list-style: none;
}

footer .content .center .right ul li {
	color: #ffffff;
	font-weight: bolder;
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

footer .content .center .right .top {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

footer .content .center .right .top .left {
	display: flex;
	gap: 10px;
	align-items: center;
	width: 100%;
}

footer .content .center .right .rectangle {
	width: 35px;
	height: 35px;
	background: #000000;
	border-radius: 50%;
}

footer .content .center .right .top .left h3 {
	color: crimson;
	font-weight: 700;
}

footer .content .center .right .top .text {
	margin-bottom: 10px;
	color: #ffffff;
}

footer .content .center .bottom {
	margin-top: 10px;
}

footer .content .center .bottom h3 {
	color: #cccccc;
	margin-bottom: 10px;
}

footer .content .center .bottom .users {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

footer .content .center .bottom button {
	width: 100%;
	background: crimson;
	color: #cccccc;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

footer .footer-bottom {
	padding: 20px 0;
	width: 100%;
	background: crimson;
	color: white;
}

footer .footer-bottom .items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .footer-bottom .left,
footer .footer-bottom .right,
footer .footer-bottom .center {
	display: flex;
	align-items: center;
	gap: 25px;
	font-size: 25px;
}

footer .footer-bottom .left,
footer .footer-bottom .right,
footer .footer-bottom .center {
	width: 15%;
}

footer .content .center .left,
footer .content .center .center-left,
footer .content .center .center-right,
footer .content .center .right {
	width: 24%;
}
