* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 90%;
	margin: 0 auto;
}

nav {
	border-bottom: 3px solid crimson;
}

.navbar {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar-ul {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar-ul {
	list-style: none;
}

.navbar .navbar-ul li {
	font-style: italic;
	text-transform: uppercase;
}

.navbar .navbar-ul li a.active {
	color: #fff;
}

.navbar .navbar-ul a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	padding: 20px 10px;
	position: relative;
	transition: all 0.3s;
}

.navbar .navbar-ul li a.active::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: crimson;
	transform: skew(-20deg);
	z-index: -1;
	transition: all 0.3s ease;
}


/* --------- main --------- */
.main {
	position: relative;
	width: 100%;
	height: 90vh;
	padding: 50px;
	background: url("./images/bg.jpg") no-repeat center / cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	z-index: 1;
}

.main::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.main .body {
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.main .body h1 {
	text-transform: uppercase;
	line-height: 50px;
}

.main .body p {
	line-height: 30px;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.buttons button {
	border: none;
	outline: none;
	border-radius: 10px;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s all;
}

.buttons button:first-child {
	background: #ffffff;
	color: crimson;
}

.buttons button:first-child:hover {
	background: crimson;
	color: #ffffff;
}

.buttons button:last-child {
	background: crimson;
	color: #ffffff;
}

.buttons button:last-child:hover {
	background: #ffffff;
	color: crimson;
}



/* ---------- about ------------*/
.about {
	width: 100%;
	padding: 50px 0;
}

.about .parent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about .parent .left {
	width: 45%;
}

.about .parent .left .head {
	width: 100%;
	margin-bottom: 15px;
}

.about .parent .left .head h1 {
	font-style: italic;
	font-size: 35px;
	color: black;
	width: 100%;
}

.about .parent .left .head h1 span {
	color: crimson;
}

.about .parent .left .content {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.about .parent .left .content p {
	font-size: 20px;
	line-height: 30px;
	color: gray;
}

.about .parent .left .content button {
	border: 1px solid crimson;
	outline: none;
	border-radius: 8px;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s all;
	background: crimson;
	color: #ffffff;
}

.about .parent .left .content button:hover {
	background: #ffffff;
	color: crimson;
}

.about .parent .right {
	width: 45%;
}

.about .parent .right img {
	width: 100%;
	transform: skew(-8deg);
}


/* ---------- service ------------*/
.service {
	width: 100%;
	padding: 50px 0;
	background: grey;
	color: #ffffff;
}

.service .head {
	color: #ffffff;
	text-align: center;
	font-style: italic;
	font-size: 25px;
	margin-bottom: 35px;
}

.service .head span {
	color: red;
}

.service .body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
}

.service .body .content {
	width: 25%;
}

.service .body .content .top {
	display: flex;
	gap: 15px;
	align-items: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.service .body .content .top h1 {
	font-size: 20px;
}

.service .body .content .top i {
	font-size: 20px;
}

.service .body .content .bottom p {
	line-height: 25px;
}

.service .body .btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

.service .body .btn button {
	font-size: 18px;
	text-transform: uppercase;
	padding: 15px 30px;
	background: transparent;
	outline: none;
	color: #ffffff;
	border: 1px solid #ffffff;
	transition: 0.3s;
	cursor: pointer;
}

.service .body .btn button:hover {
	color: red;
	background: #ffffff;
}


/* ---------- shop ------------*/
.shop {
	width: 100%;
	padding: 50px 0;
}

.shop .head {
	text-align: center;
	font-style: italic;
	font-size: 25px;
}

.shop .head span {
	color: red;
}

.shop .tabs {
	display: flex;
	justify-content: center;
	gap: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}

.shop .tabs a {
	text-decoration: none;
	color: black;
}

.shop .tabs a.active {
	color: red;
}

.shop .products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
}

.shop .products .product {
	position: relative;
	width: 23%;
}

.shop .products .product img {
	width: 100%;
	object-fit: cover;
}

.shop .products .product .price {
	position: absolute;
	padding: 5px 15px;
	left: 15%;
	top: 10%;
	transform: translate(-50%, -50%);
	background: red;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.shop .products .product h1 {
	width: 90%;
	margin: 10px auto;
	text-align: center;
	color: grey;
	font-size: 22px;
	font-weight: normal;
}

/* ---------- skills ------------*/
.skills {
	width: 100%;
	margin: 10px auto;
	padding: 60px 20px;
	background: linear-gradient(
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8)
	),
	url("./images/bg2.png") no-repeat center center;
}

.skills .body {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills .body .content {
	width: 24%;
	text-align: center;
}

.skills .body .content .top i {
	color: crimson;
	font-size: 40px;
}

.skills .body .content .top h1 {
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 20px;
}

.skills .body .content .bottom {
	margin-top: 8px;
	color: #ffffff;
	font-size: 20px;
}

